/*  your css code here. If applicable */
/* your css code here. If applicable */
#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 30px;
}

.grid-item {
  width: 100px;
  height: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #333;
  font-size: 24px;
  cursor: pointer;
}
